.header {
  background: blue;
  position: fixed;
  width: 100vw;
}

.search-form {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.header__input--search {
  width: 300px;
  border: transparent;
  height: 30px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
}
.photo-card {
  margin-top: 30px;

  width: 370px;
  margin-right: 10px;
  border: 1px solid #eeeeee;
  display: flex;
  flex-wrap: wrap;
}
.photo-card:nth-child(4n) {
  margin-right: 0;
}

.info {
  display: flex;
}
.info-item {
  padding-right: 15px;
  padding-left: 15px;

  display: flex;
  flex-direction: column;
}

.photo-card__picture {
  height: 250px;
  background-size: contain;
}
