.header {
  background: blue;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.header__input--search {
  width: 300px;
  border: transparent;
  height: 30px;
}
